{% extends "layout.html" %}
{% block content %}
<div class="container">
    <form method="post">
        <div class="form-group">
            <label for="id_performer">Performer</label>
            <input type="text" required class="form-control" id="id_performer" name="performer" value="{{ performer }}">
        </div>
        <div class="form-group">
            <label for="track">Track</label>
            <input type="text" required class="form-control" id="track" name="track" value="{{ track }}">
        </div>
        <div class="form-group">
            <label for="duration">Duration</label>
            <input type="text" required class="form-control" id="duration" name="duration">
            <h6>{{duration_error}}</h6>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% end %}
