{% extends "layout.html" %}
{% block content %}
<div class="container">
    <form method="get">
        <div class="form-group">
            <label for="search">to search enter performer, track or duration </label>
            <input type="text" class="form-control" id="search" name="search" value="{{ search_query }}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="container">
    {% if len(tracks) > 0 %}
    <table class="table mt-3">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Performer</th>
            <th scope="col">Track</th>
            <th scope="col">Duration</th>
            <th scope="col">DELETE</th>
            <th scope="col">EDIT</th>
        </tr>
        </thead>
        <tbody>
        {% for track in tracks %}
        <tr>
            <td>{{ track.id }}</td>
            <td>{{ track.performer }}</td>
            <td>{{ track.track }}</td>
            <td>{{ track.duration }}</td>
            <td>
                <form method="post" action="/delete_track/" class="d-inline-block">
                    <input type="hidden" name="id_track" value="{{track.id}}">
                    <button type="submit" class="btn btn-link">Delete</button>
                </form>
            </td>
            <td>
                <a href="/edit_track/{{track.id}}/">Edit</a>
            </td>
        </tr>
        {% end %}
        </tbody>
    </table>
    {% else %}
    <h3>Tracks not found</h3>
    {% end %}
</div>
{% end %}
